---
import type { CollectionEntry } from "astro:content";

import { getPostUrl } from "@utils/url";
import { postConfig } from "@/config";
import Twikoo from "./comment/twikoo.astro";


interface Props {
    post?: CollectionEntry<"posts">;
    path?: string;
}

const { post, path: explicitPath } = Astro.props;

let path = "";
if (explicitPath) {
    path = explicitPath;
} else if (post) {
    path = getPostUrl(post);
}

let commentService = "";
if (postConfig.comment?.enable && postConfig.comment?.twikoo) {
    commentService = "twikoo";
}
---

{postConfig.comment?.enable && (
    <div class="card-base p-6 mb-4 transition-swup-fade">
        {commentService === 'twikoo' && <Twikoo path={path} />}
    </div>
)}